{{- $sourceRepository := .Values.images.phoenixWeb.repository }}
{{- $sourceRegistry := index (splitList "/" $sourceRepository) 0 }}

registry: {{ $sourceRegistry | quote }}
region: {{ .Values.registry.ecrRefresh.region | quote }}
schedule: {{ .Values.registry.ecrRefresh.schedule | quote }}
pullSecretName: {{ .Values.registry.ecrRefresh.pullSecretName | quote }}

credentials:
  existingSecret: {{ .Values.registry.ecrRefresh.credentialsSecretName | quote }}
{{- if not .Values.registry.ecrRefresh.credentialsSecretName }}
  accessKeyId: {{ required "secrets.registry.ecr.accessKeyId is required when ECR refresh is enabled without credentialsSecretName" .Values.secrets.registry.ecr.accessKeyId | quote }}
  secretAccessKey: {{ required "secrets.registry.ecr.secretAccessKey is required when ECR refresh is enabled without credentialsSecretName" .Values.secrets.registry.ecr.secretAccessKey | quote }}
  sessionToken: {{ .Values.secrets.registry.ecr.sessionToken | quote }}
{{- end }}

images:
  awsCli: {{ .Values.registry.ecrRefresh.images.awsCli | quote }}
  kubectl: {{ .Values.registry.ecrRefresh.images.kubectl | quote }}

nodeSelector:
{{ toYaml .Values.scheduling.nodeSelector | indent 2 }}
tolerations:
{{ toYaml .Values.scheduling.tolerations | indent 2 }}
affinity:
{{ toYaml .Values.scheduling.affinity | indent 2 }}
