{{- $repository := .Values.images.opensandboxController.repository }}
{{- if .Values.imageRegistry }}
{{- $repository = printf "%s/%s" (trimSuffix "/" .Values.imageRegistry) .Values.images.opensandboxController.name }}
{{- end }}

namespaceOverride: {{ .Values.namespace | quote }}

rbac:
  clusterRoleName: {{ printf "opensandbox-manager-role-%s" .Values.namespace | trunc 63 | trimSuffix "-" | quote }}

controller:
  image:
    repository: {{ $repository | quote }}
    tag: {{ .Values.images.opensandboxController.tag | quote }}
    pullPolicy: {{ .Values.imagePullPolicy }}
  replicaCount: 1
  logLevel: info
  kubeClient:
    qps: 0
    burst: 0
  snapshot:
    imageCommitterImage: ""
    commitJobTimeout: ""
  nodeSelector:
{{ toYaml .Values.scheduling.nodeSelector | indent 4 }}
  tolerations:
{{ toYaml .Values.scheduling.tolerations | indent 4 }}
  affinity:
{{ toYaml .Values.scheduling.affinity | indent 4 }}
  resources:
{{ toYaml .Values.opensandboxController.resources | indent 4 }}

imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 2 }}

crds:
  install: {{ .Values.opensandboxController.crds.install }}
  keep: {{ .Values.opensandboxController.crds.keep }}
