{{- $databaseHost := .Values.postgresql.external.host }}
{{- $databaseSslmode := .Values.postgresql.external.sslmode }}
{{- if .Values.postgresql.bundled.enabled }}
{{- $databaseHost = "postgresql-postgresql" }}
{{- $databaseSslmode = "disable" }}
{{- end }}
{{- $repository := .Values.images.phoenixGateway.repository }}
{{- if .Values.imageRegistry }}
{{- $repository = printf "%s/%s" (trimSuffix "/" .Values.imageRegistry) .Values.images.phoenixGateway.name }}
{{- end }}

image:
  repository: {{ $repository | quote }}
  tag: {{ .Values.images.phoenixGateway.tag | quote }}
  pullPolicy: {{ .Values.imagePullPolicy }}

imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 2 }}

gateway:
  allowUnauthenticatedIngress: {{ .Values.services.gateway.allowUnauthenticatedIngress }}
  logLevel: info
  dbDsn: {{ printf "postgres://%s:%s@%s:%v/%s?sslmode=%s&connect_timeout=10" .Values.postgresql.users.application .Values.secrets.postgresql.applicationPassword $databaseHost .Values.postgresql.external.port .Values.postgresql.databases.primary $databaseSslmode | quote }}

engineToken: {{ required "secrets.application.workflowEngineToken is required" .Values.secrets.application.workflowEngineToken | quote }}

server:
  replicaCount: {{ .Values.services.gateway.replicas }}
  resources:
{{ toYaml .Values.services.gateway.resources | indent 4 }}

service:
  type: ClusterIP
  port: 3002

ingress:
  enabled: {{ .Values.ingress.gateway.enabled }}
  className: {{ .Values.ingress.className | quote }}
  annotations:
{{ toYaml .Values.ingress.gateway.annotations | indent 4 }}
  hosts:
    - host: {{ .Values.ingress.gateway.host | quote }}
      paths:
        - path: /
          pathType: Prefix
  tls:
{{ toYaml .Values.ingress.gateway.tls | indent 4 }}

nodeSelector:
{{ toYaml .Values.scheduling.nodeSelector | indent 2 }}
tolerations:
{{ toYaml .Values.scheduling.tolerations | indent 2 }}
affinity:
{{ toYaml .Values.scheduling.affinity | indent 2 }}
