{{- $databaseHost := .Values.postgresql.external.host }}
{{- $databaseSslmode := .Values.postgresql.external.sslmode }}
{{- if .Values.postgresql.bundled.enabled }}
{{- $databaseHost = "postgresql-postgresql" }}
{{- $databaseSslmode = "disable" }}
{{- end }}
{{- $registry := trimSuffix "/" .Values.imageRegistry }}
{{- $engineRepository := .Values.images.phoenixWorkflowEngine.repository }}
{{- $agentRepository := .Values.images.phoenixAgent.repository }}
{{- $labRepository := .Values.images.phoenixLab.repository }}
{{- $opensandboxRepository := .Values.images.phoenixOpensandbox.repository }}
{{- if $registry }}
{{- $engineRepository = printf "%s/%s" $registry .Values.images.phoenixWorkflowEngine.name }}
{{- $agentRepository = printf "%s/%s" $registry .Values.images.phoenixAgent.name }}
{{- $labRepository = printf "%s/%s" $registry .Values.images.phoenixLab.name }}
{{- $opensandboxRepository = printf "%s/%s" $registry .Values.images.phoenixOpensandbox.name }}
{{- end }}
{{- $redisUrl := .Values.secrets.redis.url }}
{{- if .Values.redis.bundled.enabled }}
{{- $redisUrl = printf "redis://redis-client.%s.svc.%s:6379/1" .Values.namespace .Values.clusterDomain }}
{{- else }}
{{- $redisUrl = required "secrets.redis.url is required when bundled Redis is disabled" $redisUrl }}
{{- end }}
{{- $cortexUrl := .Values.secrets.cortex.url }}
{{- if .Values.cortex.bundled.enabled }}
{{- $cortexUrl = printf "postgresql://%s:%s@cortex-postgresql.%s.svc.%s:5432/%s?sslmode=disable" .Values.cortex.bundled.username .Values.secrets.cortex.password .Values.namespace .Values.clusterDomain .Values.cortex.bundled.database }}
{{- else }}
{{- $cortexUrl = required "secrets.cortex.url is required when bundled Cortex PostgreSQL is disabled" $cortexUrl }}
{{- end }}
{{- $adminUrl := .Values.secrets.postgresql.adminUrl }}
{{- if .Values.postgresql.bundled.enabled }}
{{- $adminUrl = printf "postgresql://postgres:%s@postgresql-postgresql:%v/postgres?sslmode=disable" .Values.secrets.postgresql.superuserPassword .Values.postgresql.external.port }}
{{- end }}

image:
  repository: {{ $engineRepository | quote }}
  tag: {{ .Values.images.phoenixWorkflowEngine.tag | quote }}
  pullPolicy: {{ .Values.imagePullPolicy }}

imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 2 }}

workflow:
  definitionCatalogRoot: /workflow_definitions
  runtimeImages:
    phoenix-agent: {{ printf "%s:%s" $agentRepository .Values.images.phoenixAgent.tag | quote }}
    phoenix-lab: {{ printf "%s:%s" $labRepository .Values.images.phoenixLab.tag | quote }}

phoenixWeb:
{{- if .Values.services.workflowEngine.supervisor.enabled }}
  url: {{ printf "http://phoenix-web.%s.svc.%s:80" .Values.namespace .Values.clusterDomain | quote }}
{{- else }}
  url: ""
{{- end }}

supervisorChat:
  streamHandoff:
{{- if .Values.services.workflowEngine.supervisor.enabled }}
    redisUrl: {{ $redisUrl | quote }}
{{- else }}
    redisUrl: ""
{{- end }}

sandboxScheduling:
  defaultResourceClass: default
{{- if .Values.services.workflowEngine.supervisor.enabled }}
  supervisorResourceClass: supervisor
{{- else }}
  supervisorResourceClass: ""
{{- end }}
  resourceClasses:
{{ toYaml .Values.scheduling.sandboxResourceClasses | indent 4 }}

agent:
  image: {{ printf "%s:%s" $agentRepository .Values.images.phoenixAgent.tag | quote }}

cortexMigration:
  enabled: {{ .Values.cortex.migrations.enabled }}
  requiredRlsScopeVersion: {{ .Values.cortex.migrations.requiredRlsScopeVersion | quote }}

lab:
  image: {{ printf "%s:%s" $labRepository .Values.images.phoenixLab.tag | quote }}

database:
  host: {{ required "postgresql.external.host is required when bundled PostgreSQL is disabled" $databaseHost | quote }}
  port: {{ .Values.postgresql.external.port }}
  name: {{ .Values.postgresql.databases.primary | quote }}
  user: {{ .Values.postgresql.users.application | quote }}
  password: {{ required "secrets.postgresql.applicationPassword is required" .Values.secrets.postgresql.applicationPassword | quote }}
  sslmode: {{ $databaseSslmode | quote }}

internalDatabase:
  host: {{ required "postgresql.external.host is required when bundled PostgreSQL is disabled" $databaseHost | quote }}
  port: {{ .Values.postgresql.external.port }}
  name: {{ .Values.postgresql.databases.internal | quote }}
  user: {{ .Values.postgresql.users.internal | quote }}
  password: {{ required "secrets.postgresql.internalPassword is required" .Values.secrets.postgresql.internalPassword | quote }}
  sslmode: {{ $databaseSslmode | quote }}
  init:
    enabled: {{ .Values.postgresql.hooks.workflowEngine }}
    adminUrl: {{ $adminUrl | quote }}

cortexDatabase:
  url: {{ $cortexUrl | quote }}

sdlcIntake:
  incrementalReindexEnabled: {{ .Values.services.workflowEngine.sdlcIncrementalReindexEnabled }}

api:
  replicaCount: {{ .Values.services.workflowEngine.apiReplicas }}
  resources:
{{ toYaml .Values.services.workflowEngine.apiResources | indent 4 }}

engineToken: {{ required "secrets.application.workflowEngineToken is required" .Values.secrets.application.workflowEngineToken | quote }}

artifactApi:
  replicaCount: {{ .Values.services.workflowEngine.artifactApiReplicas }}
  tokenTtl: {{ .Values.services.workflowEngine.artifactApiTokenTtl | quote }}
  sandboxBaseUrl: {{ printf "http://phoenix-workflow-engine-artifact-api.%s.svc.%s:8081" .Values.namespace .Values.clusterDomain | quote }}
  serviceToken: {{ required "secrets.application.workflowEngineArtifactApiToken is required" .Values.secrets.application.workflowEngineArtifactApiToken | quote }}
  persistence:
    enabled: true
    size: {{ .Values.storage.artifactApi.size | quote }}
    storageClassName: {{ .Values.storage.artifactApi.storageClass | quote }}

orchestrator:
  replicaCount: {{ .Values.services.workflowEngine.orchestratorReplicas }}

operator:
  replicaCount: {{ .Values.services.workflowEngine.operatorReplicas }}
  maxConcurrentSandboxTasks: {{ .Values.services.workflowEngine.operator.maxConcurrentSandboxTasks }}
  maxConcurrentInProcessTasks: {{ .Values.services.workflowEngine.operator.maxConcurrentInProcessTasks }}
  inProcessWorkflowStepRunTimeout: {{ .Values.services.workflowEngine.operator.inProcessWorkflowStepRunTimeout | quote }}
  resources:
{{ toYaml .Values.services.workflowEngine.operator.resources | indent 4 }}

opensandbox:
  enabled: true
  agentHarnessUrl: {{ printf "ws://phoenix-web.%s.svc.%s:80/cable" .Values.namespace .Values.clusterDomain | quote }}
  agentHarnessToken: {{ required "secrets.application.agentHarnessToken is required" .Values.secrets.application.agentHarnessToken | quote }}
  clusterRoleName: {{ printf "phoenix-workflow-engine-opensandbox-%s" .Values.namespace | trunc 63 | trimSuffix "-" | quote }}
  endpoint: {{ printf "http://phoenix-workflow-engine-opensandbox.%s.svc.%s:8080" .Values.namespace .Values.clusterDomain | quote }}
  executionTimeout: {{ .Values.services.opensandbox.executionTimeout | quote }}
  agentSandboxIdleTTL: {{ .Values.services.opensandbox.agentSandboxIdleTTL | quote }}
  outputArchiveMaxBytes: {{ .Values.services.opensandbox.outputArchiveMaxBytes | quote }}
  outputArchiveMaxFiles: {{ .Values.services.opensandbox.outputArchiveMaxFiles | quote }}
  outputArchiveMaxSingleFileBytes: {{ .Values.services.opensandbox.outputArchiveMaxSingleFileBytes | quote }}
  outputArchiveMaxTotalFileBytes: {{ .Values.services.opensandbox.outputArchiveMaxTotalFileBytes | quote }}
  image:
    repository: {{ $opensandboxRepository | quote }}
    tag: {{ .Values.images.phoenixOpensandbox.tag | quote }}
    pullPolicy: {{ .Values.imagePullPolicy }}
  server:
    sandboxCreateTimeoutSeconds: {{ .Values.services.opensandbox.sandboxCreateTimeoutSeconds }}
    sandboxImagePullPolicy: {{ .Values.imagePullPolicy }}
  persistence:
    enabled: true
    size: {{ .Values.services.opensandbox.persistence.size | quote }}
    storageClassName: {{ .Values.services.opensandbox.persistence.storageClass | quote }}
  sandboxEnv:
    gitnexusUrl: ""
    postgresUrl: {{ $cortexUrl | quote }}
    phoenixGatewayUrl: {{ printf "http://phoenix-gateway.%s.svc.%s:3002" .Values.namespace .Values.clusterDomain | quote }}
    phoenixGatewayToolboxId: {{ .Values.application.toolboxId | quote }}

vertex:
{{ toYaml .Values.vertex | indent 2 }}

agentSecrets:
  claudeCodeOauthToken: {{ .Values.secrets.agents.claudeCodeOauthToken | quote }}
  anthropicApiKey: {{ .Values.secrets.agents.anthropicApiKey | quote }}
  githubToken: {{ .Values.secrets.agents.githubToken | quote }}
  openaiApiKey: {{ .Values.secrets.agents.openaiApiKey | quote }}
  geminiApiKey: {{ .Values.secrets.agents.geminiApiKey | quote }}

ingress:
  api:
    enabled: {{ .Values.ingress.workflowApi.enabled }}
    className: {{ .Values.ingress.className | quote }}
    annotations:
{{ toYaml .Values.ingress.workflowApi.annotations | indent 6 }}
    hosts:
      - host: {{ .Values.ingress.workflowApi.host | quote }}
        paths:
          - path: /
            pathType: Prefix
    tls:
{{ toYaml .Values.ingress.workflowApi.tls | indent 6 }}
  artifactApi:
    enabled: {{ .Values.ingress.artifactApi.enabled }}
    className: {{ .Values.ingress.className | quote }}
    annotations:
{{ toYaml .Values.ingress.artifactApi.annotations | indent 6 }}
    hosts:
      - host: {{ .Values.ingress.artifactApi.host | quote }}
        paths:
          - path: /
            pathType: Prefix
    tls:
{{ toYaml .Values.ingress.artifactApi.tls | indent 6 }}

nodeSelector:
{{ toYaml .Values.scheduling.nodeSelector | indent 2 }}
tolerations:
{{ toYaml .Values.scheduling.tolerations | indent 2 }}
affinity:
{{ toYaml .Values.scheduling.affinity | indent 2 }}
